* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #111;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;

  background: linear-gradient(90deg, #00c853, #00b0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  padding: 20px 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.highlight {
  color: #00b0ff;
  font-weight: 600;
}

.about, .skills, .contact { background: #1b1b1b; margin: 40px; border-radius: 20px; box-shadow: 0 20px 40px rgba(0,0,0,0.4); }


.skills span {
  background: #333;
  padding: 10px 20px;
  margin: 10px;
  display: inline-block;
  border-radius: 20px;
  transition: 0.3s;
}

.skills span:hover {
  background: linear-gradient(90deg, #00c853, #00b0ff);
  color: black;
  transform: scale(1.1);
}

.social i {
  font-size: 22px;
  margin: 12px;
  color: #00b0ff;
  transition: 0.3s;
  cursor: pointer;
}


.social i:hover {
  color: #00c853;
  transform: translateY(-5px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;   
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding: 5px 0;
  transition: 0.3s;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #00c853, #00b0ff);
  transition: 0.3s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav ul li a:hover,
nav ul li a.active {
  color: #00b0ff;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 80px;

  background: linear-gradient(
    135deg,
    #e8fdf5 0%,     
    #e0f7fa 40%,    
    #e3f2fd 70%,    
    #f3e5f5 100%    
  );

  position: relative;
  overflow: hidden;
}

.hero-text {
  max-width: 500px;
  padding: 30px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);

  color: #222;
}

.hero h1 {
  font-size: 52px;
  background: linear-gradient(90deg, #00c853, #00b0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero h3 {
  color: #444;
}

.circle {
  width: 280px;
  height: 280px;
  padding: 12px;
  border-radius: 50%;
  background: linear-gradient(135deg, #00c853, #00b0ff);
  box-shadow: 0 25px 50px rgba(0, 176, 255, 0.35);
}

.circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center top; 
}


section {
  padding: 80px;
  text-align: center;
}

footer {
  background: #111;
  padding: 15px;
  text-align: center;
  font-size: 14px;
}

